@model SportO_SLMS.Models.League

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>League</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.leagueName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.leagueName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teamCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teamCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeagueOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeagueOwner.firstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sport.type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" asp-controller="LeagueOwners">Back to List</a>
</div>
