@model SportO.Models.Season

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Season</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.seasonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.seasonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.matchesPlayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.matchesPlayed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.matchesWon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.matchesWon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.matchesLost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.matchesLost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.matchesTied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.matchesTied)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mPointsFavor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mPointsFavor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mPointsAgainst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mPointsAgainst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.seasonRecord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.seasonRecord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
