@model SportO_SLMS.Models.Match

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.matchDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.matchDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.homeTeamScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.homeTeamScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.awayTeamScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.awayTeamScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayTeam.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referee.firstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.League)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.League.leagueName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
